
## <summary>policy for realcoin</summary>


########################################
## <summary>
##	Transition to realcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`realcoin_domtrans',`
	gen_require(`
		type realcoin_t, realcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, realcoin_exec_t, realcoin_t)
')


########################################
## <summary>
##	Execute realcoin server in the realcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`realcoin_initrc_domtrans',`
	gen_require(`
		type realcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, realcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search realcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`realcoin_search_lib',`
	gen_require(`
		type realcoin_var_lib_t;
	')

	allow $1 realcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read realcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`realcoin_read_lib_files',`
	gen_require(`
		type realcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, realcoin_var_lib_t, realcoin_var_lib_t)
')

########################################
## <summary>
##	Manage realcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`realcoin_manage_lib_files',`
	gen_require(`
		type realcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, realcoin_var_lib_t, realcoin_var_lib_t)
')

########################################
## <summary>
##	Manage realcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`realcoin_manage_lib_dirs',`
	gen_require(`
		type realcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, realcoin_var_lib_t, realcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a realcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`realcoin_admin',`
	gen_require(`
		type realcoin_t;
		type realcoin_initrc_exec_t;
		type realcoin_var_lib_t;
	')

	allow $1 realcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, realcoin_t)

	realcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 realcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, realcoin_var_lib_t)

')

